.TodoItem-todo.done{
    color: rgba(17, 49, 75, 0.527);
    text-decoration: line-through;
    text-align: center;
}

.testCenter{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
  }

ul li {
    cursor: pointer;
    /* position: relative; */
    list-style-type: none;
    font-size: 15px;
    /* padding: 10px 16px 10px 16px; */
    transition: 0.2s;
    text-align: center;
    font-family: 'Verdana';
  }
  
ul li:hover {
    background: rgba(252, 194, 194, 0.411);
    padding: 10px 16px 10px 16px;
}

.todoRemove {
    border-style: ridge;
    width: 500px;
    background-color: rgba(238, 201, 215, 0.705);
    font-family: 'Comic Sans MS';
    font-size: 20px;
    border-color: rgba(122, 120, 121, 0.705);;
}

.todoRemove:hover {
    background-color: rgba(17, 49, 75, 0.438);
    color: white;
}

.button1{
    text-size-adjust: 15px;
    float: right;
  }
