.button2{
    border-radius: 20%;
    margin: 5px;
}

.button2:hover {
    background-color: rgb(17, 49, 75);
    color: rgb(211, 211, 211);
    cursor: pointer;
  }

input{
    border-radius: 5px;
    font-family: sans-serif;
}

.addDesign{
    padding-bottom: 15px;
}


